:root {
  --red: rgb(66, 24, 29);
  --black: #333333;
  --gold: rgb(236, 173, 59);
  --white: rgb(223, 239, 254);
  --brown: rgb(120, 79, 33);
}

h2 {
  margin-bottom: 48px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--red);
  overflow-x: hidden;
  font-family: Roboto Slab, sans-serif;
  font-size: 1.5em;
  color: var(--black);
}

.reallyBigHeader {
  font-family: Pirata One, sans-serif;
  font-size: 4em;
}

.captain-hook-gif {
  width: 50%;
}

.slide:first-of-type {
  margin-top: 30px;
}

.slide {
  display: flex;
  flex-direction: column;

  background-color: var(--gold);
  max-width: 50em;
  min-height: 500px;
  margin: 0 auto;
  margin-bottom: 600px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(3, 3, 3, 0.3);
}

.slide-anchor {
  position: relative;
  margin-bottom: 100px;
}

.next-link {
  align-self: flex-end;
  justify-self: flex-end;
  text-decoration: none;
  background-color: var(--red);
  padding: 10px 20px;
}

.next-link:link {
  color: var(--white);
}

.next-link:visited {
  color: var(--white);
}

ul {
  max-width: 75ch;
}

li {
  list-style: outside '\261B';
  padding-left: 8px;
  padding-bottom: 32px;
}

pre {
  background-color: white;
}

.slide img {
  height: 20em;
  width: 25em;
}
